 %section.circle-home
    .container
      .row
        .col-md-6 col-md-offset-3 aloha-editable          
          = link_to '/'
          .circle-logo
              %h1#company
                cultivated commerce
              %p#phone.circle-test text-center %br %br
               the online crop swap