.modal.fade#myLogin{'tabindex' => '-1', 'role' => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ 'type' => 'button', 'class' => 'close', 'data-dismiss' => 'modal' }
          %span{ 'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        %h2.modal-title.bold.c-c4.modalextra.nopadding#myModalLabel LOGIN
      .modal-body
        = simple_form_for(:user, :url => session_path(:user), html: { class: '' }) do |f|
          = f.input :email, input_html: { id: 'js-email-login' }
          - if @validatable
            %em = @minimum_password_length characters minimum
          = f.input :password          
          = f.button :submit, 'Login'